.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 80px);
  /* 确保容器至少占满视口高度，方便垂直居中 */
}

.videoWrap {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.customControl {
  position: absolute;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.videoTitle {
  font-size: 48px;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 30px;
}

.controlBtns {
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.controlBtns>div {
  cursor: pointer;
}

.controlProgress {
  width: 95%;
  display: flex;
  align-items: center;
  margin-top: 40px;
  padding-bottom: 10px;
}

.startTime,
.endTime {
  font-size: 12px;
  font-weight: 900;
  line-height: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
  width: 50px;
  text-align: left;
}

.endTime {
  text-align: right;
}

.progress {
  flex: 1;
  border-radius: 4.5px;
  background: #979797;
  height: 12px;
  position: relative;
}

.otherIcon {
  cursor: pointer;
  margin: 0 15px;
  font-size: 0;
}

.currentTime {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.5381;
  background: #3CA8FF;
  border-radius: 4.5px;
}

.currentOval {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  margin-top: -8.5px;
  opacity: 1;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(0, 0, 0, 0.1617) 100%), #3CA8FF;
  background-blend-mode: multiply, normal;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2328);
  cursor: pointer;
  transition: none
}

.info {
  color: white;
  padding: 24px;
  position: relative;
  width: 100%;
}

.headWrap {
  display: flex;
  align-items: center;
}

.headIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nickName {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-left: 10px;
}

.title {
  margin-top: 24px;
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.subTitle {
  font-size: 14px;
  font-weight: 350;
  line-height: 18px;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.like {
  right: 80px;

}

.like,
.save {
  position: absolute;
  top: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

}

.save {
  right: 24px;
}