.page {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.headText {
  color: white;
  text-align: center;
}

.title {
  font-size: 42px;
  font-weight: 900;
  line-height: 78px;
  letter-spacing: 0px;
}

.subTitle {
  color: rgba(255, 255, 255, .6);
  font-size: 21px;
  font-weight: 900;
  line-height: 42px;
  letter-spacing: 0px;
  text-shadow: 0px 0px 30px rgba(13, 37, 62, 0.7);
}

.subTitle span {
  color: #FDA80A;
  font-weight: 900;
  font-size: 21px;
}

.signUp {
  margin-top: 80px;
  width: 160px;
  height: 52px;
  border-radius: 8px;
  opacity: 1;
  background: #FDA80A;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 18px;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  letter-spacing: 0.82px;
  color: #000000;
}

.home2 {
  width: 100vw;
  height: 946px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url('/home-3-background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home2Wrap {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title2 {
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #FFFFFF;
}

.arrowWrap {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 200px;
}

.leftArrow {
  transform: rotate(180deg);
}

.leftImages>img {
  width: 164px;
  height: 210px;
  border-radius: 80px;
}

.leftImages>img:nth-child(1) {
  margin-top: 60px;
}

.leftImages>img:nth-child(2) {
  margin-top: 30px;
}

.leftImages>img:nth-child(5) {
  margin-top: -30px;
}

.leftImages>img:nth-child(6) {
  margin-top: -60px;
}

.rightImages>img {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  position: absolute;
}

.rightImages>img:nth-child(1) {
  left: 0;
  top: 30px;
}

.rightImages>img:nth-child(2) {
  right: 10px;
  top: 0;
}

.rightImages>img:nth-child(3) {
  left: 170px;
  top: 160px;
}

.rightImages>img:nth-child(4) {
  bottom: 0;
  left: 30px;
}

.rightImages>img:nth-child(5) {
  bottom: 0;
  right: 0;
}

.leftImages {
  position: relative;
  height: 490px;
  width: 512px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.rightImages {
  position: relative;
  height: 490px;
  width: 512px;
}

.home4Title {
  font-size: 36px;
  font-weight: 900;
  line-height: normal;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 10px;
}

.home5Wrap {
  display: flex;
  width: 1178px;
  margin-top: 60px;
  gap: 12px;
  padding-bottom: 80px;
}

.home5Item {
  border-radius: 113px;
  opacity: 1;
  background: rgba(255, 165, 0, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 30px 18px 60px 18px;
}

.home5ItemTitle {
  font-size: 24px;
  font-weight: 900;
  line-height: 30px;
  text-align: center;
  display: flex;
  align-items: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-top: 30px;
}

.home5ItemText {
  font-size: 14px;
  font-weight: 350;
  line-height: 26px;
  letter-spacing: -1px;
  color: #FFFFFF;
}

.faqWrap {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url('/background-3.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #242529;
  padding: 100px 0;
}

.faqTitle {
  font-family: 思源黑体;
  font-size: 42px;
  font-weight: 900;
  line-height: normal;
  letter-spacing: 0px;
  color: #F19F3D;
}

.faqItem {
  font-family: 思源黑体;
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  width: 880px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
}


.faqItem>h2 {
  font-size: 24px;
  font-weight: 500;
  line-height: normal;
  position: relative;
  width: 648px;
  padding: 0 0 20px 0;
}

.faqItem>p {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0px;

  transform-origin: top;
  transform: scaleY(0);
  /* 初始时不缩放 */
  transition: transform 0.5s ease-out;
  overflow: hidden;
  display: none;
}

/* 当 faq 被点击时，显示 p 内容 */
.faqItem.open>p {
  transform: scaleY(1);
  /* 展开时恢复正常 */
  display: block;
}

.faqArrow {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px;
}