.headerContainer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 96px;
  z-index: 1;
  position: relative;
}

.header {
  width: 998px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrap {
  display: flex;
}

.logoRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.shop {
  font-size: 16px;
  color: #ffffff;
  text-decoration: underline;
}

.singIn {
  background-color: #FFA500;
  width: 100px;
  height: 42px;
  border-radius: 4px;
  border: 1px solid #979797;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.headWrap {
  display: flex;
  align-items: center;
}

.headIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.nickName {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  display: flex;
  align-items: center;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-left: 10px;
}

@media (max-width: 767px) {
  .header {
    width: 95%;
  }

  .headerContainer {
    height: 60px;
  }

  .logoWrap>img {
    width: 60px;
    height: 60px;
  }

  .logoRight img {
    width: 76px;
    height: 18px;
  }

  .shop {
    font-size: 14px;
  }

  .singIn {

    width: 75px;
    height: 31px;
    font-size: 14px;
  }

  .headIcon {

    width: 30px;
    height: 30px;
  }

  .nickName {
    font-size: 14px;
  }
}