.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.3s ease;
}



.modalContent {
  position: relative;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  z-index: 10;
}

.modalImage {
  width: 400px;
  height: 400px;
}

.textWrap {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 1) 100%);
  display: flex;
  flex-direction: column;
  justify-content: end;
  padding: 0 20px 20px 20px;
}

.title {
  font-size: 30px;
}

.description {
  font-size: 10px;
}

.contentWrap {
  background-color: white;
}